.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.95);
  transition: opacity 1s ease, transform 1s ease, visibility 0s 1s;
}

.modal__content {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  padding: 36px, 50px, 32px;
  transform: scale(0.95);
  transition: transform 1s ease;
}

.modal__content_type_preview {
  padding: 0;
  max-width: fit-content;
}

.modal__image {
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.modal_opened {
  display: flex;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition-delay: 0s;
}

.modal__content.modal_opened {
  transform: scale(1);
}

.modal__container {
  background-color: #ffffff;
  width: 100%;
  max-width: 730px;
  box-sizing: border-box;
  padding: 32px 50px;
  position: relative;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
}

.modal__close-button {
  position: absolute;
  top: 30px;
  left: 640px;
  background-image: url(../images/Group\ 27.svg);
  background-position: center;
  background-color: transparent;
  border: 0;
  opacity: 40%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.modal__close-button_type_preview{
  background-image: url(../images/Close\ Icon.svg);
  background-position: center;
  background-color: transparent;
  width: 40px;
  height: 40px;
  left: calc(100% + 12px);
  top: -5px;
  display: block;
  position: absolute;
  border: none;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}

.modal__label {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  margin-bottom: 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  line-height: 17px;
  opacity: 70%;
  color: #212121b2;
  border: 8px;
}

.modal__caption {
  left: 0;
  padding: 4px 8px;
  width: fit-content;
  gap: 0px;
  opacity: 0px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  margin: 0;
  background-color: #212121;
  border-radius: 8px;
  position: absolute;
  top: calc(100% + 8px);
}

.modal__submit-button {
  width: 156px;
  padding: 18px 0;
  background-color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}

.modal__submit-button_disabled {
  background-color: grey;
  color: #fff;
  cursor: not-allowed;
  opacity: 0.6;
}

.modal__input {
  font-size: 20px;
  line-height: 1;
  padding: 16px 12px;
  margin: 8px 0 0;
  color: #212121;
  border-radius: 8px;
  transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}

.modal__input:hover{
  border-color: #212121;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 30;
}


.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  color: #ff0000b2;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 8px;
  display: block;
}
.modal__error_hidden {
  display: none;
  height: 0;
}

@media screen and (max-width: 727px) {
  .modal {
    pad: 0 10px;
  }
  .modal__container {
    padding: 12px;
  }
  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }
  .modal__label {
    margin-bottom: 24px;
  }
  .modal__submit-button {
    width: 100%;
  }
  .modal__image {
    object-fit: cover;
  }
  .modal__content_type_preview {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px 0px 0px 0px;
  }
  .modal__close_type_preview {
    width: 40px;
    height: 40px;
    right: -45px;
    top: -12px;
  }
}

@media screen and (max-width: 320px) {
  .modal {
    padding: 0 8px;
  }
  .modal__input{
    font-size: 14px;
  }

  .modal__container {
    width: 300px;
    padding: 12px;
    border-radius: 8px;

  }
  .modal__title {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 24px;
    font-weight: 500;
    line-height: 20px;
    width: 106px;
    height: 20px;
  }

  .modal__label {
    font-size: 16px;
    margin-bottom: 24px;
    width: 276px;
    gap: 8px;
  }
  .modal__caption {
    font-size: 16px;
    font-weight: 500;
    width: 175px;
    height: 27px;
  }
  .modal__submit-button {
    width: 276px;
    height: 52px;
    padding: 0px;
    margin-bottom: 12px;
  }
  .modal__content_type_preview {
    border-radius: 4px;
  }
  .modal__close-button {
    top: 12px;
    left: 248px;
    width: 40px;
    height: 40px;
    opacity: 40%;
  }
  .modal__close-button_type_preview{
    top: -30px;
    left: 250px;
  }

  .modal__image {
    width: 288px;
    height: 192px;
    max-width: none;
    max-height: none;
    object-fit: cover;
    border-radius: 4px;
    margin-top: 10px;
  }

  .modal__error {
    color: red;
    font-size: 16px;
    margin-top: 8px;
    height: auto;
    display: block;
  }
  .modal__error_hidden {
    display: none;
    height: 0;
  }

}
